body {
    font-family: 'Teko', sans-serif;
    background-color: #FEFAE0;
}

h1 {
    text-align: center;
    color: #283618;
    letter-spacing: 1px;
    font-size: 48px;
}

h1:hover {
    color: #BC6C25;
    transition-duration: .2s;
    cursor: pointer;
}

.image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
}

a {
    text-decoration: none;
}

