body {
    font-family: 'Teko', sans-serif;
    background-color: #FEFAE0;
}

h1 {
    text-align: center;
    color: #283618;
}

.image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

